include examples/hello.py
include examples/launchpad_pro.py
include examples/launchpad_pro-fire.py
include examples/launchpad_mk2.py
include README.md
include LICENSE.txt
include images/lppro_colorcodes.png
