include examples/buttons_raw.py
include examples/buttons_xy.py
include examples/hello.py
include examples/information.py
include examples/launchpad_pressure.py
include examples/launchpad_pressure_xy.py
include examples/launchpad_pro.py
include examples/launchpad_pro_mk3.py
include examples/launchpad_rgb-fire.py
include examples/launchpad_rgb-pulse.py
include examples/launchpad_rgb.py
include examples/midi_events.py
include examples/midifighter_led_modes.py
include examples/midifighter_text.py
include README.md
include LICENSE.txt
include images/lppro_colorcodes.png
include images/mf64_colorcodes.png
include images/promk3_transmit.png
